@using crudlab.Models.DTO.Spec
@model AddSpecDto


<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <select asp-items="ViewBag.Faculties" asp-for="FacultyId"></select>
    <select asp-items="ViewBag.Subjects" asp-for="SubjectIds"></select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>