@using crudlab.Models.DTO.Spec
@model AddSpecDto

<div class="container">
    <form method="post">
        <input asp-for="Id" readonly hidden />
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <select asp-items="ViewBag.Faculties" asp-for="FacultyId" class="form-select mb-3"></select>
        <select asp-items="ViewBag.Subjects" asp-for="SubjectIds" class="form-select mb-3"></select>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>