@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Faculty" asp-action="Index">Faculties</a>
    <a asp-controller="Specialization" asp-action="Index">Specializations</a>
    <a asp-controller="Teacher" asp-action="Index">Teachers</a>


</div>
