@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="icon" href="https://png.pngtree.com/png-vector/20220314/ourmid/pngtree-corporate-logo-design-n-e-ne-initial-letter-template-vector-png-image_29911870.png">
<link rel="stylesheet" href="~/css/index.css" />

<div class="container ">
    <div class="row1 d-flex justify-content-center">
        <a class="my-a" style="background-color: blue;" asp-controller="Faculty" asp-action="Index">
            <span> Faculties </span><br>
            <i class="fa-solid fa-building-columns"></i>
        </a>
        <a class="my-a" style="background-color: red;" asp-controller="Specialization" asp-action="Index">
            <span> Specializations </span><br>
            <i class="fa-solid fa-atom"></i>
        </a>
        <a class="my-a" style="background-color: green;" asp-controller="Teacher" asp-action="Index">
            <span> Teacher </span><br>
            <i class="fa-solid fa-person-chalkboard"></i>
        </a>
    </div>

    <div class="row2 d-flex justify-content-center">
        <a class="my-a" style="background-color: purple;" asp-controller="Student" asp-action="Index">
            <span> Students </span><br>
            <i class="fa-solid fa-user-graduate"></i>
        </a>
        <a class="my-a" style="background-color: brown;" asp-controller="Subject" asp-action="Index">
            <span> Subjects </span><br>
            <i class="fa-solid fa-book"></i>
        </a>
    </div>
</div>