@using crudlab.Models.DTO.Student
@model AddStudentDto

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Surname"></label>
            <input class="form-control" asp-for="Surname" />
        </div>
        
        <select asp-for="SpecializationId" asp-items="ViewBag.Specs">
            <option></option>
        </select>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>