@using crudlab.Models.DTO.Subject
@model AddSubjectDto
<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</div>