@using crudlab.Models.DTO.Subject
@model AddSubjectDto

<div class="container">
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>