@using crudlab.Models.DTO.Teacher
@model AddTeacherDto


<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Surname"></label>
            <input class="form-control" asp-for="Surname" />
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="Experience"></label>
            <input class="form-control" asp-for="Experience" />
        </div>
        
        <select asp-for="SubjectIds" asp-items="ViewBag.Specs" class="form-select mb-3">
            <option></option>
        </select>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>


    </form>
</div>